#fonte_nome {
    font-family: 'Segoe UI', Tahoma;
}

#fonte_descricao {
    font-family: 'Courier New', Courier;
}

body {
    background-color:#fffde3;
}

.destaque{
    background-color: bisque;
}

.habilidade_foco{
    font-size: 20px;
}